<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.agency.crm.mapper.customer.CustomerMapper">
	<select id="selectCustomerByOpenId" parameterType="String" resultType="Customer">
		select id,nick_name as nickName,open_id as openId,union_id as unionId,
			create_time as createTime,update_time as updateTime,is_del as isDel
		from customer 
		where is_del = 0
		and open_id = #{openId}
		order by create_time
		limit 0,1
	</select>
	
	<select id="selectCustomerByUnionId" parameterType="String" resultType="Customer">
		select id,nick_name as nickName,open_id as openId,union_id as unionId,
			create_time as createTime,update_time as updateTime,is_del as isDel
		from customer 
		where is_del = 0
		and union_id = #{unionId}
		order by create_time
		limit 0,1
	</select>
	
	<insert id="saveCustomer" parameterType="Customer">
		<selectKey resultType="INTEGER" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
      	</selectKey>
		insert into customer(
		nick_name,
		open_id,
		union_id,
		country,
		gender,
		province,
		city,
		language,
		create_time,
		update_time,
		is_del
		) values (
		#{nickName,jdbcType=VARCHAR},
		#{openId,jdbcType=VARCHAR},
		#{unionId,jdbcType=VARCHAR},
		#{country,jdbcType=VARCHAR},
		#{gender,jdbcType=VARCHAR},
		#{province,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR},
		#{language,jdbcType=VARCHAR},
		now(),
		now(),
		0
		)
	</insert>
	
	<select id="queryCustomer" parameterType="Map" resultType="Customer">
		select id, nick_name as nickName, open_id as openId, union_id as unionId, gender, language, country, province,
			city, create_time as createTime, update_time as updateTime, is_del as isDel
		from customer
		where is_del = 0
		order by create_time desc
		limit #{start},#{length}
	</select>
	
	<select id="countCustomer" resultType="long">
		select count(id) 
		from customer
		where is_del = 0
	</select>
</mapper>