<?xml version="1.0" encoding="GBK" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.agency.crm.mapper.agencyBase.AgencyBaseMapper">
	
	<insert id="insertAgencyBase" parameterType="AgencyBase">
		insert into agency_base (
		agency_name,
		sys_user_name,
		sys_user_password,
		mobilePhone,
		email,
		open_id,
		is_cooperation,
		city,
		location,
		address,
		create_time,
		update_time,
		is_del
		) values (
		#{agencyName,jdbcType=VARCHAR},
		#{sysUserName,jdbcType=VARCHAR},
		#{sysUserPassword,jdbcType=VARCHAR},
		#{mobilePhone,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{openId,jdbcType=VARCHAR},
		#{isCooperation,jdbcType=Integer},
		#{city,jdbcType=VARCHAR},
		#{location,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR},
		now(),
		now(),
		0
		)
	</insert>
	
	<select id="selectAgencyBase" resultType="AgencyBase" parameterType="map">
		select 
		id,
		agency_name as agencyName,
		sys_user_name as sysUserName,
		sys_user_password as sysUserPassword,
		mobilePhone as mobilePhone,
		email as email,
		open_id as openId,
		is_cooperation as isCooperation,
		city,
		location,
		address,
		create_time as createTime,
		update_time as updateTime,
		is_del as isDel
		from agency_base
		where is_del = 0
		limit #{start},#{length}
	</select>
</mapper>




