<?xml version="1.0" encoding="GBK" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.agency.crm.mapper.agencyBase.AgencyBaseMapper">
	
	<insert id="insertAgencyBase" parameterType="AgencyBase">
		<selectKey resultType="INTEGER" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
      	</selectKey>
		insert into agency_base (
		agency_name,
		description,
		contact_name,
		sys_user_name,
		sys_user_password,
		mobilephone,
		email,
		open_id,
		is_cooperation,
		city,
		province,
		location,
		area,
		wechat_image_path,
		logo_image_path,
		licence1_image_path,
		licence2_image_path,
		address,
		expiry_date,
		valid_period,
		type,
		latitude,
		longitude,
		status,
		create_time,
		update_time,
		is_del
		) values (
		#{agencyName,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR},
		#{contactName,jdbcType=VARCHAR},
		#{sysUserName,jdbcType=VARCHAR},
		#{sysUserPassword,jdbcType=VARCHAR},
		#{mobilephone,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{openId,jdbcType=VARCHAR},
		#{isCooperation,jdbcType=INTEGER},
		#{city,jdbcType=VARCHAR},
		#{province,jdbcType=VARCHAR},
		#{location,jdbcType=VARCHAR},
		#{area,jdbcType=VARCHAR},
		#{wechatImagePath,jdbcType=VARCHAR},
		#{logoImagePath,jdbcType=VARCHAR},
		#{licence1ImagePath,jdbcType=VARCHAR},
		#{licence2ImagePath,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR},
		#{expiryDate,jdbcType=VARCHAR},
		#{validPeriod,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR},
		#{latitude,jdbcType=VARCHAR},
		#{longitude,jdbcType=VARCHAR},
		0,
		now(),
		now(),
		0
		)
	</insert>
	
	<select id="selectAgencyBase" resultType="AgencyBase" parameterType="map">
		select 
		id,
		agency_name as agencyName,
		description as description,
		sys_user_name as sysUserName,
		sys_user_password as sysUserPassword,
		mobilephone as mobilephone,
		email as email,
		open_id as openId,
		is_cooperation as isCooperation,
		province,
		city,
		area,
		address,
		wechat_image_path as wechatImagePath,
		logo_image_path as logoImagePath,
		create_time as createTime,
		update_time as updateTime,
		latitude as latitude,
		longitude as longitude,
		status as status,
		type as type,
		is_del as isDel
		from agency_base
		where is_del = 0
		<if test="city != null and city != ''">
			and city = #{city}
		</if>
		<if test="province != null and province != ''">
			and province = #{province}
		</if>
		<if test="area != null and area != ''">
			and area = #{area}
		</if>
		<if test="mobilephone != null and mobilephone != ''">
			and mobilephone = #{mobilephone}
		</if>
		<if test="address != null and address != ''">
			and address like '%${address}%'
		</if>
		<if test="status != null and status != ''">
			and status = #{status}
		</if>
		<if test="agencyName != null and agencyName != ''">
			and agency_name like '%${agencyName}%'
		</if>
		<if test="city != null and city != ''">
			and city like '%${city}%'
		</if>
		<if test="searchStartTime != null and searchStartTime != ''">
			and create_time &gt; #{searchStartTime}
		</if>
		<if test="searchEndTime != null and searchEndTime != ''">
			and create_time &lt; #{searchEndTime}
		</if>
		order by create_time desc
		limit #{start},#{length}
	</select>
	
	<select id="selectAgencyBaseByOpenId" resultType="AgencyBase" parameterType="map">
		select 
		id,
		agency_name as agencyName,
		description as description,
		contact_name as contactName,
		sys_user_name as sysUserName,
		sys_user_password as sysUserPassword,
		mobilephone as mobilephone,
		email as email,
		open_id as openId,
		is_cooperation as isCooperation,
		city,
		location,
		address,
		wechat_image_path as wechatImagePath,
		logo_image_path as logoImagePath,
		licence1_image_path as licence1ImagePath,
		licence2_image_path as licence2ImagePath,
		create_time as createTime,
		update_time as updateTime,
		type as type,
		is_del as isDel
		from agency_base
		where is_del = 0
		and open_id = #{openId}
		<if test="type != null and type != ''">
			and type = #{type}
		</if>
	</select>


	<select id="selectAdAgency" resultType="AgencyBase" parameterType="Map">
		select id, agency_name as agencyName, logo_image_path as logoImagePath from agency_base where isAd = 1 limit #{offset}, #{rows}
	</select>

	<select id="selectAgencyByName" resultType="AgencyBase" parameterType="Map">
		select id, agency_name as agencyName, logo_image_path as logoImagePath 
		from agency_base 
		where agency_name like #{name} 
		<if test="city != null and city != ''">
			and city = #{city}
		</if>
		<if test="province != null and province != ''">
			and province = #{province}
		</if>
		<if test="area != null and area != ''">
			and area = #{area}
		</if>
		limit #{offset}, #{rows}
	</select>

	<select id="selectAgencyBaseById" resultType="AgencyBase" parameterType="int">
		select 
		id,
		agency_name as agencyName,
		description as description,
		sys_user_name as sysUserName,
		sys_user_password as sysUserPassword,
		mobilephone as mobilephone,
		email as email,
		open_id as openId,
		is_cooperation as isCooperation,
		city,
		location,
		address,
		wechat_image_path as wechatImagePath,
		logo_image_path as logoImagePath,
		licence1_image_path as licence1ImagePath,
		licence2_image_path as licence2ImagePath,
		create_time as createTime,
		update_time as updateTime,
		type as type,
		is_del as isDel
		from agency_base
		where is_del = 0
		and id = #{id}
	</select>
	
	<select id="countAgencyBase" resultType="long" parameterType="map">
		select count(id) 
		from agency_base
		where is_del = 0
		<if test="mobilephone != null and mobilephone != ''">
			and mobilephone = #{mobilephone}
		</if>
		<if test="address != null and address != ''">
			and address like '%${address}%'
		</if>
		<if test="searchStartTime != null and searchStartTime != ''">
			and create_time &gt; #{searchStartTime}
		</if>
		<if test="searchEndTime != null and searchEndTime != ''">
			and create_time &lt; #{searchEndTime}
		</if>
	</select>
	
	<update id="updateAgencyBase" parameterType="AgencyBase">
		update agency_base
		<set>
			<if test="agencyName != null and agencyName != ''">
				agency_name = #{agencyName},
			</if>
			<if test="description != null and description != ''">
				description = #{description},
			</if>
			<if test="sysUserName != null and sysUserName != ''">
				sys_user_name = #{sysUserName},
			</if>
			<if test="sysUserPassword != null and sysUserPassword != ''">
				sys_user_password = #{sysUserPassword},
			</if>
			<if test="mobilephone != null and mobilephone != ''">
				mobilephone = #{mobilephone},
			</if>
			<if test="email != null and email != ''">
				email = #{email},
			</if>
			<if test="openId != null and openId != ''">
				open_id = #{openId},
			</if>
			<if test="isCooperation != null and isCooperation != ''">
				is_cooperation = #{isCooperation},
			</if>
			<if test="city != null and city != ''">
				city = #{city},
			</if>
			<if test="location != null and location != ''">
				location = #{location},
			</if>
			<if test="address != null and address != ''">
				address = #{address},
			</if>
			<if test="wechatImagePath != null and wechatImagePath != ''">
				wechat_image_path = #{wechatImagePath},
			</if>
			<if test="logoImagePath != null and logoImagePath != ''">
				logo_image_path = #{logoImagePath},
			</if>
			<if test="licence1ImagePath != null and licence1ImagePath != ''">
				licence1_image_path = #{licence1ImagePath},
			</if>
			<if test="licence2ImagePath != null and licence2ImagePath != ''">
				licence2_image_path = #{licence2ImagePath},
			</if>
			<if test="status != null and status != ''">
				status = #{status},
			</if>
			<if test="type != null and type != ''">
				type = #{type},
			</if>
			update_time = now()
			where id = #{id}
		</set>
	</update>
	
	<update id="updateAgencyBaseByOpenId" parameterType="AgencyBase">
		update agency_base
		<set>
			<if test="agencyName != null and agencyName != ''">
				agency_name = #{agencyName},
			</if>
			<if test="description != null and description != ''">
				description = #{description},
			</if>
			<if test="sysUserName != null and sysUserName != ''">
				sys_user_name = #{sysUserName},
			</if>
			<if test="sysUserPassword != null and sysUserPassword != ''">
				sys_user_password = #{sysUserPassword},
			</if>
			<if test="mobilephone != null and mobilephone != ''">
				mobilephone = #{mobilephone},
			</if>
			<if test="email != null and email != ''">
				email = #{email},
			</if>
			<if test="openId != null and openId != ''">
				open_id = #{openId},
			</if>
			<if test="isCooperation != null and isCooperation != ''">
				is_cooperation = #{isCooperation},
			</if>
			<if test="city != null and city != ''">
				city = #{city},
			</if>
			<if test="location != null and location != ''">
				location = #{location},
			</if>
			<if test="address != null and address != ''">
				address = #{address},
			</if>
			<if test="wechatImagePath != null and wechatImagePath != ''">
				wechat_image_path = #{wechatImagePath},
			</if>
			<if test="logoImagePath != null and logoImagePath != ''">
				logo_image_path = #{logoImagePath},
			</if>
			<if test="licence1ImagePath != null and licence1ImagePath != ''">
				licence1_image_path = #{licence1ImagePath},
			</if>
			<if test="licence2ImagePath != null and licence2ImagePath != ''">
				licence2_image_path = #{licence2ImagePath},
			</if>
			<if test="status != null and status != ''">
				status = #{status},
			</if>
			<if test="type != null and type != ''">
				type = #{type},
			</if>
			update_time = now()
			where open_id = #{openId}
			<if test="type != null and type != ''">
				and type = #{type}
			</if>
		</set>
	</update>
</mapper>
