<?xml version="1.0" encoding="GBK" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.agency.crm.mapper.publishContent.PublishContentMapper">
	
	<insert id="insertPublishContent" parameterType="PublishContent">
		insert into publish_content (
		category,
		description,
		images,
		contact_name,
		mobilephone,
		city,
		location,
		address,
		is_top,
		create_time,
		update_time,
		is_del
		) values (
		#{category,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR},
		#{images,jdbcType=VARCHAR},
		#{contactName,jdbcType=VARCHAR},
		#{mobilephone,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR},
		#{location,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR},
		#{isTop,jdbcType=VARCHAR},
		now(),
		now(),
		0
		)
	</insert>
	
	<select id="selectAgencyBase" resultType="AgencyBase" parameterType="map">
		select 
		id,
		agency_name as agencyName,
		sys_user_name as sysUserName,
		sys_user_password as sysUserPassword,
		mobilephone as mobilephone,
		email as email,
		open_id as openId,
		is_cooperation as isCooperation,
		city,
		location,
		address,
		create_time as createTime,
		update_time as updateTime,
		is_del as isDel
		from agency_base
		where is_del = 0
		limit #{start},#{length}
	</select>

	<select id="selectPublishContent" resultType="PublishContent" parameterType="map">
		select p1.id, p1.category, p1.description, p1.images, p1.contact_name, p1.mobilephone, p1.city, p1.location, p1.update_time
		from publish_content p1 right join parameter p2 on p1.category = p2.para_value
		where 1=1
		<if test="city != null and city != ''">
			and p1.city = #{city}
		</if>
		<if test="province != null and province != ''">
			and p1.province = #{province}
		</if>
		<if test="area != null and area != ''">
			and p1.area = #{area}
		</if>
		and p2.para_domain = 'publish.category'
		and p2.para_value = #{paraId}
		limit #{offset}, #{rows}
	</select>

	<select id="selectPublishContentById" resultType="PublishContent" parameterType="int">
		select id, category, description, images, contact_name as contactName, mobilephone, city, location,
		update_time as updateTime, create_time as createTime from publish_content
		where id = #{id}
		and is_del = 0
	</select>
	
	<select id="selectPublishContentByStatus" parameterType="String" resultType="PublishContent">
		select id, category, description, images, contact_name as contactName, mobilephone, city, location, status
			update_time as updateTime, create_time as createTime 
		from publish_content
		where status = #{status}
		and is_del = 0
	</select>
	
	<select id="selectPublishContentByParam" parameterType="map" resultType="PublishContent">
		select c.id, c.category, c.description, c.images, c.contact_name as contactName, c.mobilephone, c.city, c.location, 
			c.status, c.update_time as updateTime, c.create_time as createTime 
		from publish_content c
		left join parameter p
		on c.category = p.para_value
		where c.is_del = 0
		and p.para_domain = 'publish.category'
		limit #{start},#{length}
	</select>
	
	<select id="countPublishContentByParam" resultType="long">
		select count(id)
		from publish_content
		where is_del = 0
	</select>
	
	<update id="updatePublishContent" parameterType="PublishContent">
		update publish_content
		<set>
			<if test="category != null and category != ''">
				category = #{category},
			</if>
			<if test="description != null and description != ''">
				description = #{description},
			</if>
			<if test="images != null and images != ''">
				images = #{images},
			</if>
			<if test="contactName != null and contactName != ''">
				contact_name = #{contactName},
			</if>
			<if test="mobilephone != null and mobilephone != ''">
				mobilephone = #{mobilephone},
			</if>
			<if test="city != null and city != ''">
				city = #{city},
			</if>
			<if test="location != null and location != ''">
				location = #{location},
			</if>
			<if test="status != null and status != ''">
				status = #{status},
			</if>
			update_time = now()
		</set>
		where id = #{id}
	</update>
</mapper>




