<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.agency.crm.mapper.favorite.FavoriteMapper">
	<select id="selectFavoriteByParam" parameterType="map" resultType="Favorite">
		select id, open_id as openId, union_id as unionId, favorite_id as favoriteId, type, status, 
			create_time as createTime, update_time as updateTime,is_del as isDel
		from favorite 
		where is_del = 0
		<if test="openId != null and openId != ''">
			and open_id = #{openId}
		</if>
		<if test="unionId != null and unionId != ''">
			and union_id = #{unionId}
		</if>
		<if test="favoriteId != null and favoriteId != ''">
			and favorite_id = #{favoriteId}
		</if>
		<if test="type != null and type != ''">
			and type = #{type}
		</if>
		order by create_time
		limit 0,1
	</select>
	
	<insert id="saveFavorite" parameterType="Favorite">
		<selectKey resultType="INTEGER" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
      	</selectKey>
		insert into favorite(
		open_id,
		union_id,
		favorite_id,
		type,
		status,
		create_time,
		update_time,
		is_del
		) values (
		#{openId,jdbcType=VARCHAR},
		#{unionId,jdbcType=VARCHAR},
		#{favoriteId,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR},
		1,
		now(),
		now(),
		0
		)
	</insert>
	
	<update id="updateFavoriteByParam" parameterType="Favorite">
		update favorite
		<set>
			<if test="openId != null and openId != ''">
				open_id = #{openId},
			</if>
			<if test="unionId != null and unionId != ''">
				union_id = #{unionId},
			</if>
			<if test="favoriteId != null and favoriteId != ''">
				favorite_id = #{favoriteId},
			</if>
			<if test="type != null and type != ''">
				type = #{type},
			</if>
			<if test="status != null and status != ''">
				status = #{status},
			</if>
			update_time = now()
			where 1 = 1
			<if test="openId != null and openId != ''">
				and open_id = #{openId}
			</if>
			<if test="unionId != null and unionId != ''">
				and union_id = #{unionId}
			</if>
			<if test="favoriteId != null and favoriteId != ''">
				and favorite_id = #{favoriteId}
			</if>
			<if test="type != null and type != ''">
				and type = #{type}
			</if>
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
		</set>
	</update>
	
	<update id="deleteFavorite" parameterType="Favorite">
		delete from favorite
		where is_del = 0
		<if test="openId != null and openId != ''">
			and open_id = #{openId}
		</if>
		<if test="unionId != null and unionId != ''">
			and union_id = #{unionId}
		</if>
		<if test="favoriteId != null and favoriteId != ''">
			and favorite_id = #{favoriteId}
		</if>
		<if test="type != null and type != ''">
			and type = #{type}
		</if>
	</update>
	
	<select id="findAllFavoriteByTypeAndUnionId" parameterType="map" resultType="Favorite">
		select id, open_id as openId, union_id as unionId, favorite_id as favoriteId, type, status, 
			create_time as createTime, update_time as updateTime,is_del as isDel
		from favorite 
		where type = #{type}
		and open_id = #{openId}
	</select>
	
	<select id="selectFavoriteGoodsByTypeAndUnionId" parameterType="map" resultType="Goods">
		select 
		f.id as id,
        g.product_id as productId,
        g.agency_id as agencyId,
        g.goods_name as goodsName,
        g.thumbnail as thumbnail,
        g.goods_pic as goodsPic,
        g.price as price,
        g.goods_description as goodsDescription
		from goods g
		left join favorite f
		on g.id = f.favorite_id
		where f.type = '1' and f.open_id = #{openId}
	</select>
	
	<update id="deleteFavoriteById" parameterType="int">
		delete from favorite
		where id = #{id}
	</update>
	
	<select id="selectFavoriteAgencyByTypeAndUnionId" parameterType="map" resultType="AgencyBase">
		select
			f.id,
			a.agency_name as agencyName,
			a.sys_user_name as sysUserName,
			a.sys_user_password as sysUserPassword,
			a.mobilephone as mobilephone,
			a.email as email,
			a.open_id as openId,
			a.is_cooperation as isCooperation,
			a.province,
			a.city,
			a.area,
			a.address,
			a.wechat_image_path as wechatImagePath,
			a.logo_image_path as logoImagePath,
			a.create_time as createTime,
			a.update_time as updateTime,
			a.latitude as latitude,
			a.longitude as longitude,
			a.status as status,
			a.type as type,
			a.is_del as isDel
		from agency_base a
		left join favorite f
		on a.id = f.favorite_id
		where f.type = '2' and f.open_id = #{openId}
	</select>
</mapper>