<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.agency.crm.mapper.favorite.FavoriteMapper">
	<select id="selectFavoriteByParam" parameterType="map" resultType="Favorite">
		select id, open_id as openId, union_id as unionId, favorite_id as favoriteId, type, status, 
			create_time as createTime, update_time as updateTime,is_del as isDel
		from favorite 
		where is_del = 0
		<if test="openId != null and openId != ''">
			and open_id = #{openId}
		</if>
		<if test="unionId != null and unionId != ''">
			and union_id = #{unionId}
		</if>
		<if test="favoriteId != null and favoriteId != ''">
			and favorite_id = #{favoriteId}
		</if>
		<if test="type != null and type != ''">
			and type = #{type}
		</if>
		order by create_time
		limit 0,1
	</select>
	
	<insert id="saveFavorite" parameterType="Favorite">
		<selectKey resultType="INTEGER" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
      	</selectKey>
		insert into favorite(
		open_id,
		union_id,
		favorite_id,
		type,
		status,
		create_time,
		update_time,
		is_del
		) values (
		#{openId,jdbcType=VARCHAR},
		#{unionId,jdbcType=VARCHAR},
		#{favoriteId,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR},
		1,
		now(),
		now(),
		0
		)
	</insert>
	
	<update id="updateFavoriteByParam" parameterType="Favorite">
		update favorite
		<set>
			<if test="openId != null and openId != ''">
				open_id = #{openId},
			</if>
			<if test="unionId != null and unionId != ''">
				union_id = #{unionId},
			</if>
			<if test="favoriteId != null and favoriteId != ''">
				favorite_id = #{favoriteId},
			</if>
			<if test="type != null and type != ''">
				type = #{type},
			</if>
			<if test="status != null and status != ''">
				status = #{status},
			</if>
			update_time = now()
			where 1 = 1
			<if test="openId != null and openId != ''">
				and open_id = #{openId}
			</if>
			<if test="unionId != null and unionId != ''">
				and union_id = #{unionId}
			</if>
			<if test="favoriteId != null and favoriteId != ''">
				and favorite_id = #{favoriteId}
			</if>
			<if test="type != null and type != ''">
				and type = #{type}
			</if>
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
		</set>
	</update>
	
	<update id="deleteFavorite" parameterType="Favorite">
		delete from favorite
		where is_del = 0
		<if test="openId != null and openId != ''">
			and open_id = #{openId}
		</if>
		<if test="unionId != null and unionId != ''">
			and union_id = #{unionId}
		</if>
		<if test="favoriteId != null and favoriteId != ''">
			and favorite_id = #{favoriteId}
		</if>
		<if test="type != null and type != ''">
			and type = #{type}
		</if>
	</update>
	
	<select id="findAllFavoriteByTypeAndUnionId" parameterType="map" resultType="Favorite">
		select id, open_id as openId, union_id as unionId, favorite_id as favoriteId, type, status, 
			create_time as createTime, update_time as updateTime,is_del as isDel
		from favorite 
		where type = #{type}
		and open_id = #{openId}
	</select>
</mapper>